<% @favorites.each do |favorite| %>
  
    <div class"card cardip">
    <div class="card-body">
    <% if current_user.id == favorite.user.id %>
    <%= favorite.post.content %>
    <%= image_tag favorite.post.image.url, style:"height: 100px; width: 100px;" %>
    </div>
    </div> 
    <%end%>
    <%end%>