<h1>New User</h1>
<%= render 'form', user: @user %>
<div class="card bg-light cont1" style="width:400px">
    <div class="card-body text-center">
      <p class="card-text">Have an account?  <%= link_to "Login", new_session_path %></p>
    </div>
  </div>

