.cont{
    position: relative;
    left:35%;
}

.cont1{
    position: relative;
    left:35%;
    top:5px;
}
.cardip{
    position: absolute;
    left: 25%;
}
.cardip1{
    position: absolute;
    left: 63%;
    bottom: 800px;
}

