.cont{
    position: relative;
    left:35%;
}

.cont1{
    position: relative;
    left:35%;
    top:5px;
}
.cardip{
    position: absolute;
    left: 25%;
    top: 100px;
    
}
.images{
    width:200px;
    height: 200px;
    border-radius: 40px;
}
.images1{
    width:100px;
    height: 100px;
    border-radius: 20px;
}
.cardip1{
    position: absolute;
    left: 63%;
    bottom: 620px;
}

.card2{
    position: absolute;
    left: 35%;
  background-color: blue;
}
.cardprof{
    position: absolute;
    left: 35%;
    top:100px;
}

.cardsn{
    position: absolute;
    left: 35%;
}
.home{
    position: absolute;
    left: 20%;
}
.profi{
    position: absolute;
    left: 60%;
}
.profi1{
    position: absolute;
    left: 55%;
}
